/* Global RESET */
* :root {
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: red;
    
    --color-gray-light: #F0F0F0;
    --color-gray-dark: #B8B8B8;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px 10px/16px = 62.5% */
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 300;
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* buttons */
.btn-red {
    background: #cc0000;
    color: white;
    border-radius: 0.2rem;
    border: 0;
    padding: 0.7rem 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
}

.btn-red:hover {
    background: red;
}

.btn-white {
    background: white;
    color: #cc0000;
    border-radius: 0.8rem;
    border: 0;
    padding: 0.8rem 1.2rem;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
}

.btn-white:hover {
    background: #B8B8B8;
}

/* Error */
.error {
    color: orange;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}